:root {
    --blue_1: #11999e;
    --blue_body: #e4f9f5;
}

body {
    background-color: var(--blue_body);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

.left {
    float: left;
}

.flecha-salir {
    height: 6vh;
    fill: var(--blue_1);
}

.right {
    float: right;
}

#puntuacion-juego:hover {
    cursor: default;
}

.game {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#word {
    display: block;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 11px solid var(--blue_1);
    margin: 0 10px;
    font-size: 90px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

#pannel {
    width: 875px;
    height: 735px;
    display: inline-block;
    margin-left: -36px;
}

#pannelLetter {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #11999e, #11999e, #11999e);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
    line-height: 210px;
}

#pannelLetterGreen {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #2e8b57, #2e8b57, #2e8b57);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
    line-height: 210px;
}

#pannelLetterRed {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #a52a2a, #a52a2a, #a52a2a);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
    line-height: 210px;
}

/*
PROGRESS BAR
*/

.progressBar {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.barStatus {
    height: 16px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 1.75s linear;
    -moz-transition: 1.75s linear;
    -o-transition: 1.75s linear;
    transition: 1.75s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    width: 0%;
    color: white;
    background-color: var(--blue_1);
}

.progreso {
    float: left;
    color: #292929;
    margin-top: -1px;
    margin-left: 3px;
}

.barStatus .porcentaje {
    display: inline-block;
    margin-top: -50px;
    color: #292929;
}

/**
MODAL
*/

.modal {
    background-color: rgba(0, 0, 0, .0001) !important;
    padding: 2em 3em;
    text-align: center;
    border-radius: .5em;
    display: none;
    z-index: 9999;
    color: #292929;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-55%, -25%);
}

.button-puntuacion {
    font-size: 1.25em;
    font-weight: bold;
    background-color: var(--blue_1);
    border: none;
    padding: .5em 1em;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: .25em;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
    transform: translateY(-2px);
    font-family: 'Montserrat', sans-serif !important;
}

.button-puntuacion:hover {
    cursor: pointer;
}

.button-modal {
    font-size: 2.25em;
    font-weight: bold;
    background-color: var(--blue_1);
    border: none;
    padding: .5em 1em;
    color: #fff;
    text-shadow: 5px 5px #000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: .25em;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
    transform: translateY(-2px);
    font-family: 'Montserrat', sans-serif !important;
}

.modal-image {
    width: 40px;
    height: 45px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #48DB71;
    padding: 11px 10px 2px;
    margin-bottom: 2em;
}

.modal .palabra-era {
    font-size: 3.8em;
}

.modal.end .puntuacion-total {
    font-size: 3em;
}

.modal-word {
    font-size: 5.625em;
    /*90px*/
    text-transform: uppercase;
    background-color: #11999e;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#modalEnd-puntuacion {
    color: var(--blue_1);
    text-shadow: 0px 0px 6px rgba(17, 153, 158, 0.7);
    font-size: 1.2em;
}

.modal.end .modal-word {
    margin: -3vh;
}

.modal.end .has-terminado {
    font-size: 6em;
    color: var(--blue_1);
}

#buen-trabajo {
    color: #2e8b57;
    font-size: 6em;
}

#sin-tiempo {
    color: #a52a2a;
    font-size: 2.20em;
}

.tracking-in-contract-bck-top {
    -webkit-animation: tracking-in-contract-bck-top .8s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-contract-bck-top .8s cubic-bezier(.215, .61, .355, 1.000) both
}

@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: .7em;
        -webkit-transform: translateZ(400px) translateY(-300px);
        transform: translateZ(400px) translateY(-300px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

@keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: .7em;
        -webkit-transform: translateZ(400px) translateY(-300px);
        transform: translateZ(400px) translateY(-300px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

/**
CANVAS FIREWORKS
**/
canvas {
    display: none;
    position: fixed;
    top: 0;
}

/**
TIMER
**/

.timer {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 79%;
    /*margin-left:-100px;*/
    margin-top: -100px;
}

.timer-container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background: var(--blue_body);
    overflow: hidden;
    position: relative;
}

.timer-left {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--blue_1);
    /*red*/
    border-radius: 200px 0 0 200px;
    transform: scale(.99);
    transform-origin: 100% 50%;
    top: 0;
    left: 0;
}

.timer-right {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--blue_1);
    /*red*/
    border-radius: 0 100em 100em 0;
    top: 0;
    left: 50%;
    transform-origin: 0 50%;
}

.mask_right {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--blue_body);
    border-radius: 0 100em 100em 0;
    top: 0;
    left: 50%;
    transform-origin: 0 50%;
    border: 10px solid var(--blue_body);
}

.mask_left {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--blue_body);
    border-radius: 0 100em 100em 0;
    top: 0;
    left: 50%;
    transform-origin: 0 50%;
}

.timer-container.start .timer-right {
    animation-name: right;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.timer-container.start .mask_right {
    animation-name: mask;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.timer-container.start .mask_left {
    animation-name: left;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes right {
    0% {
        transform: rotate(0deg) scale(.99);
    }

    100% {
        transform: rotate(360deg) scale(.99);
    }
}

@keyframes left {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    49.9999% {
        transform: rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes mask {
    0% {
        opacity: 0;
    }

    49.999% {
        opacity: 0;
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 1;
    }
}

#seconds {
    color: #292929;
    font-size: 1.4em;
    text-shadow: 0px 0px 7px rgba(49, 142, 179, 0.7);
}