<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Congrats!</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="final" class="flex-center flex-column">
        <h1 id="puntsFinal2">Enhorabona, la teva puntuació és </h1>
        <form>

        </form>
        <a class="btn" href="/game.html">Juga de nou</a>
        <a class="btn" href="../index.html">Pagina principal</a>
        <a class="btn" href="../views/ranking.html">Ranking</a>
      </div>
    </div>
    <script src="end.js"></script>
  </body>
</html>