<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="../media/guess_the_word.png">
    <title>Esbrina-la</title>
    <link rel="stylesheet" href="../css/guess_the_word.css" />
    <link rel="stylesheet" href="../css/back.css" />
    <script src="../js/cookieLanding.js"></script>
    <script src="../js/back.js"></script>
  </head>
  <body>
    
    <div class="game">
        <div class="top-bar">
          <div class="left">
            <div class="back-button">
              <div class="arrow-wrap">
                <span class="arrow-part-1"></span>
                <span class="arrow-part-2"></span>
                <span class="arrow-part-3"></span>
              </div>
            </div>
          </div>
            <div class="right">
              <button class="button-puntuacion"></button>
            </div>
          </div>
      <div class="adivinar">
        <ul id="word">
        </ul>
      </div>

      <div id="pannel"></div>

      <!-- [START] TIMER-->
      <div class="timer">
          <div id="js-timer" class="timer-container start js-timer">
              <div class="timer-left"></div>
              <div class="timer-right js-timer_part" data-anim="right"></div>
              <div class="mask_right js-timer_part" data-anim="mask_right"></div>
              <div class="mask_left js-timer_part" data-anim="mask_left"></div>
          </div>
          <p id="seconds"></p>
      </div>

      <div class="progressBar">
        <div class="barStatus">
          <p class="porcentaje"></p>
        </div>
      </div>
      <p class="progreso"></p>
    </div>

    <canvas></canvas>

    <!-- [START] MODAL nextWord -->
    <div class="modal nextWord">
      <p id="buen-trabajo" class="tracking-in-contract-bck-top"></p>
      <p class="tracking-in-contract-bck-top palabra-era" id="paraula"></p>
      <p class="modal-word tracking-in-contract-bck-top"></p>
      <button onclick="nextWord()" class="tracking-in-contract-bck-top button-modal" id="next"></button>
    </div>
    <!-- [END] MODAL nextWord -->

    <!-- [START] MODAL end -->
    <div class="modal end">
      
      <h1 class="tracking-in-contract-bck-top" id="final"><h1>
      <h2 class="tracking-in-contract-bck-top palabra-era" id="parola"></h1>
      <h1 class="modal-word tracking-in-contract-bck-top"></h2>
        
            <p class="tracking-in-contract-bck-top puntuacion-total" id="missatgeFinal"></p>
        
      
      <button onclick="salir()" class="tracking-in-contract-bck-top button-modal" id="sortir"></button>
    </div>
    <!-- [END] MODAL end -->

    <!-- [START] MODAL failure -->
    <div class="modal failure">
      <p id="sin-tiempo" class="tracking-in-contract-bck-top"></p> 
      <p class="tracking-in-contract-bck-top palabra-era" id="palabra">
        <p class="modal-word tracking-in-contract-bck-top"></p>
      </p>
      <button onclick="nextWord()" class="tracking-in-contract-bck-top button-modal" id="prossimo"></button>
    </div>
    <!-- [END] MODAL failure -->

    <script src="../js/guess_the_word.js"></script>
  </body>
</html>
