<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz!</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div id="pagPrincipal" class="flex-center flex-column">
            <!--Botons per anar a la pàgina del joc o veure les puntuacions-->
            <h1>Quiz</h1>
            <a class="btn" href="joc.html">Juga</a>
            <a class="btn" href="../views/ranking.html">Puntuacions</a>
        </div>
    </div>
</body>
</html>