<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RADIOS</title>
    <link rel="stylesheet" href="../css/mapa.css">
    <link rel="stylesheet" href="../css/miCss.css">
    <link rel="stylesheet" href="../css/back.css">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
</head>

<body style="background-color: #e4f9f5 !important">
    <div class="cover">
        <div class="score">
            <h1> Informació</h1>
            <p id="paisNom"></p>
            <p id="radioNom"></p>
            <p id="extraInfo"></p>
            <div id="divOk" class="buttonStyle1 buttonMenuLight">
                OK
            </div>
        </div>
    </div>
    <header>
        RADIOS DEL MON
    </header>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="../js/back.js"></script>
    <div class="back-button">
        <div class="arrow-wrap">
            <span class="arrow-part-1"></span>
            <span class="arrow-part-2"></span>
            <span class="arrow-part-3"></span>
        </div>
    </div>
    </div>
    <div id="chartdiv">
        <script src="../js/mapa.js"></script>
    </div>
</body>

</html>