<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Facil</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/facil.css" />

  <script src="../js/jquery-3.4.1.min.js"></script>

  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <script src="../js/cookieLanding.js"></script>
  <script src="../js/back.js"></script>
  <link rel="stylesheet" href="../css/back.css">
</head>

<body>
  <div class="back-button">
    <div class="arrow-wrap">
      <span class="arrow-part-1"></span>
      <span class="arrow-part-2"></span>
      <span class="arrow-part-3"></span>
    </div>
  </div>
  <div id="container">        
    <div>
      <!-- Fila on hi ha la info-->
      <div class="row text-center">
        <!-- Cart a trobar-->
        <div class="col-4">
          <h4>
            Moviments
          </h4>
          <p class="display-4" id="moviments">0</p>
        </div>

        <!-- Encerts -->
        <div class="col-4">
          <h4>Encerts</h4>
          <p id="encerts" class="display-4">0</p>
        </div>

        <!-- Temporitzador -->
        <div class="col-4">
          <h4>
            Temps
          </h4>
          <div id="temporitzador">
            <p id="min" class="display-4">5</p>
            <p class="display-4">:</p>
            <p id="sec" class="display-4">00</p>
          </div>
        </div>
      </div>
      <!-- Prova
                        <div class="restart" onclick=startGame()>
                            hau
                        </div>-->
    </div>

    <div id="taula">
      <ul id="llista"></ul>
    </div>
  </div>
  <!-- Modal (s'ha cabat el joc) -->
  <div class="cover">
    <div class="score">
      <p id="scr_head">Memory acabat</p>
      <p id="scr_time">
        Temps total: <span id="mins">00</span> : <span id="secs">00</span>
      </p>
      <br />
      <p id="scr_moves">Moviments : <span id="moves"></span></p>
      <br />
      <p id="scr_points">Punts : <span id="puntuacio"></span></p>
          
      <div onclick="location.href='jocsMenu.html'" class="button OK buttonStyle1 buttonMenuLight">
        OK
      </div>
    </div>
  </div>
</body>

<script src="../js/facil.js"></script>

</html>