<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <title>PHL radio</title>

  <link rel="stylesheet" href="../css/radio_presentation_reset.css" media="screen, all" />
  <link rel="stylesheet" href="../css/radio_presentation.css" media="screen, all" />

  <script src="../js/radio_presentation_yui.js"></script>
  <script src="../js/radio_presentation.js"></script>
</head>

<body>
  <div class="global-radio">
    <div class="case">
      <div class="inner-case">
        <div class="speaker">
          <div class="chrome">
            <h1>Algo</h1>
          </div>
        </div>
        <div class="front-case">
          <div class="panel">
            <!-- power -->
            <div class="power">
              <span class="on-off active">
                <a href="#" title="on / off"><span>on / off</span></a>
              </span>
            </div>
            <!-- /power -->

            <!-- tuner -->
            <div class="tuner">
              <span class="controller">
                <!--<span></span>-->
                <svg class="flecha-left" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492"
                  style="enable-background:new 0 0 492 492;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
              			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
              			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
              			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
              			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
              			C492,219.198,479.172,207.418,464.344,207.418z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>

              </span>
              <span class="controllerCont"></span>
              <div></div>
            </div>
            <!-- /tuner -->

            <!-- retina -->
            <div class="retina">
              <!-- live -->
              <span class="live">Live</span>
              <!--  progress -->
              <div class="progress">
                <div class="frequencies">
                  <div>88</div>
                  <div>90</div>
                  <div>92</div>
                  <div>94</div>
                  <div>96</div>
                  <div>98</div>
                  <div>100</div>
                  <div>102</div>
                  <div>104</div>
                  <div>108</div>
                </div>
                <div class="pointer"></div>
              </div>
              <!-- stereo -->
              <span class="stereo">stereo</span>
            </div>
            <!--  / retina -->

            <!-- volume -->
            <div class="volume">
              <span class="controller">
                <!-- <span></span> -->
                <svg class="flecha-right" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492"
                  style="enable-background:new 0 0 492 492;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
              			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
              			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
              			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
              			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
              			C492,219.198,479.172,207.418,464.344,207.418z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
              </span>
              <span class="controllerCont"></span>
              <div></div>
              <span class="label">- +</span>
            </div>
            <!-- /volume -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="audio_containner"></div>
</body>

</html>