<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/ranking.css" />
    <script src="../js/cookieLanding.js"></script>
    <link rel="stylesheet" href="../css/back.css" />
  </head>

  <body>
    <div class="back-button">
        <a href="../index.html" >
          <div class="arrow-wrap" id="esborrarCookie">
              <span class="arrow-part-1"></span>
              <span class="arrow-part-2"></span>
              <span class="arrow-part-3"></span>
            </div>
          </div>
      </a>
    </div>
    <div id="app">
      <div class="leaderboards-container">
        <div class="slider-container">
          <div class="option">
            Mensual
          </div>
          <div class="option highlighted">
            Diario
          </div>
          <div class="option">
            Todo
          </div>
        </div>

        <div class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>No hi ha jugadors en aquest ranking</p>
          </div>
        </div>

        <div class="podium-places-container">
          <div>
            <div class="podium silver">
              <div class="position">
                <div>
                  2
                </div>
              </div>
              <div class="class-information">
                <div class="title">
                  Pepe
                </div>
                <div class="year-group">
                  2019
                </div>
                <div class="points">
                  34.504
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="podium gold">
              <div class="position">
                <div>
                  1
                </div>
              </div>
              <div class="class-information">
                <div class="title">
                  Hacker
                </div>
                <div class="year-group">
                  9999
                </div>
                <div class="points">
                  9.666.420
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="podium bronze">
              <div class="position">
                <div>
                  3
                </div>
              </div>
              <div class="class-information">
                <div class="title">
                  Asunción
                </div>
                <div class="year-group">
                  1450
                </div>
                <div class="points">
                  20.520
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="places-list-container"></div>
      </div>
    </div>
    <script src="../js/ranking.js"></script>
  </body>
</html>
