<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memory</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/tutorial_memory.css">
    <link rel="stylesheet" href="../css/back.css">
    
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/back.js"></script>
</head>
<body>
    <div class="container">
        <div class="back-button">
            <div class="arrow-wrap">
              <span class="arrow-part-1"></span>
              <span class="arrow-part-2"></span>
              <span class="arrow-part-3"></span>
            </div>
          </div>
        <div class="space"></div>
        <div class="card-group">
          <!-- Girar Cartes -->
          <div class="card">
            <img class="card-img-top" src="../media/memory_tuto1.gif" alt="Card image cap" height="250px">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Girar cartes</h5>
              <p class="card-text">Per girar una carta només has de premer sobre la crta que vols girar. 
                Aquesta girarà i mostrarà el valor que té.</p>
            </div>
          </div>
          <!-- Memory Facil vs dificl -->
          <div class="card">
            <img class="card-img-top" src="../media/memory_tuto2.gif" alt="Card image cap" height="250px">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Hi ha dues versions del memory.</h5>
              <p class="card-text" ></p>Facil: Memory de tota la vida.
                <br>Difícil: Memory per a pensar una mica més!</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../media/memory tuto modal.PNG" alt="Card image cap" height="250px">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Puntuació</h5>
              <p class="card-text">Rebràs una puntuació basada en el temps i els moviments que has necessitat per
                completar el memory</p>
            </div>
          </div>
        </div>
        <div class="row   justify-content-center">
            <div class="col-2 text-center">
              <a href="memory_facil.html" class="btn buttonStyle1 buttonMenuLight" style="color: black; text-decoration: none;"> FÀCIL</a>
            </div>
            <div class="col-2  text-center">
              <a href="memory_dificil.html" class="btn buttonStyle1 buttonMenuLight" style="color: black; text-decoration: none;"> DIFÍCIL</a>
            </div>
        </div>  
    </div>
</body>
</html>