<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Menu</title>
    <link rel="stylesheet" href="../css/tutorial_guess_the_word.css" />
    <link rel="stylesheet" href="../css/back.css" />
    <script src="../js/back.js"></script>
  </head>

  <body>
    <div class="back-button">
      <div class="arrow-wrap">
        <span class="arrow-part-1"></span>
        <span class="arrow-part-2"></span>
        <span class="arrow-part-3"></span>
      </div>
    </div>

    <p id="titol">Esbrina-la</p>
    <div class="centered">
      <p id="subtitol">Instruccions del joc</p>
      <div class="card">
        <div class="card-gif">
          <img src="../media/guess_the_word.gif" alt="Tutorial" />
        </div>
        <a href="guess_the_word.html"><button>JUGAR</button></a>
      </div>
    </div>
  </body>
</html>
